.navlinks {
    float: right;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    color: #bf4d24;
    font-size: 18px;
}

/*.Navbar {
    float: right;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    color: #bf4d24;
    font-size: 35px;
}
*/
